/** {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*/
body {
    background: url('../images/login background.jpg') no-repeat center center;
    background-size: cover;
/*    min-height: 200vh;
*/    /*    position: fixed;
*/ font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
}
/*.background-overlay {
    margin-top: 100px;
    margin-left: 270px;
    height: 700px;
}*/
.login-container {
    margin-top: 100px;
    margin-left:35%;
    /*    position: fixed;
*/
    top: 20%;
    left: 10%;
    background: rgba(255, 255, 255, 0.9);

/*background:white;
*/padding-bottom:0px;
    padding: 30px;
   
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
    text-align: center;
    height: 510px;
    transition: transform 0.2s ease;

}

    .login-container:hover {
        transform: translateY(-8px);
    }





    .login-container h2 {
        margin-bottom: 1.5rem;
        color: #333;
    }

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #0077ff;
    outline: none;
}

button {
    width: 100%;
    padding: 0.8rem;
    background: #0077ff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}

    button:hover {
        background: #005fcc;
    }

.signup {
    margin-top: 1rem;
    font-size: 0.9rem;
}

    .signup a {
        color: #0077ff;
        text-decoration: underline;
    }

        .signup a:hover {
            text-decoration: underline;
        }

.create-btn {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.7rem;
    width: 100%;
    text-align: center;
    background-color: #00c48c;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
}

    .create-btn:hover {
        background-color: #00a06e;
    }

.remember-container {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #555;

}

    .remember-container input[type="checkbox"] {
        margin-right: 0.5rem;
        transform: scale(1.2);
        cursor: pointer;
    }

